/*
style based on
https://docs.microsoft.com/en-us/windows/win32/shell/images/hideaccessxp.png
*/



.dunno .dialog {
  background-color: #e7e7d6;
  border: 2px solid #0465ff;
  min-height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  font-family: Tahoma;
}

.dunno .dialog .header {
  background: #0465ff;
  height: 30px;
  color: white;
  font-weight: bold;
  padding: 6px 10px 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dunno .dialog .header .x:before {
    content: '✕';
}

.dunno .dialog .header .x {
  font-size: 20px;
  text-align: center;
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  float: right;
}

.dunno .dialog .body {
  display: flex;
  padding: 20px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
}

.dunno .dialog .body .text {
  margin-bottom: 15px;
}

.dunno .dialog .text p {
  margin: 5px;
}

.dunno .dialog .text p:last-child {
  margin: 0;
}

.dunno .dialog .body .buttons {
  text-align: center;
}

.dunno .dialog .body .button {
  display: inline-block;
  width: 100px;
  margin: 5px 10px;
  padding: 3px;
  border-style: outset;
}

.dunno .dialog .button-ok {
  padding: 0;
}

.dunno .dialog .button-ok {
  border-style: outset solid solid outset;
  border-bottom-color: #444;
  border-right-color: #555;
}

.dunno .dialog .button .inner {
  border: 1px dotted #222;
  margin: 2px;
}
